h1{
  text-align: center;
  color: var(--primary-color);
}
  
.mat-form-field {
  margin-top: 16px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

.file-name{
  margin-bottom: 10px;
}

.applicant-review-info{
  .review-item{
    margin-bottom: 10px;
  }
}