<h1> Job Application Process </h1>
<mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="aplicantInfoFormGroup" label="Fill out your name">
        <form [formGroup]="aplicantInfoFormGroup">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="First name" formControlName="name" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Lastname</mat-label>
                    <input matInput placeholder="Last name" formControlName="lastname" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="E-mail" formControlName="email" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Mobile phone number</mat-label>
                    <input matInput placeholder="Mobile phone number" formControlName="mobilePhone" required>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" [disabled]="!aplicantInfoFormGroup.valid" mat-button
                    matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="aplicantCvUploadFormGroup" label="Upload your CV">
        <form>
            <mat-label></mat-label>
            <div>
                <label class="custom-file-upload">
                    <input type="file" (change)="onFileSelected($event)" />
                    Upload CV
                </label>
                <div class="file-name" *ngIf="selectedFile">{{selectedFile.name}}</div>
            </div>
            <div>
                <button mat-raised-button color="accent" [disabled]="!aplicantInfoFormGroup.valid"
                    matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Review and Submit</ng-template>
        
        <div>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperPrevious>Submit</button>
        </div>
    </mat-step>
</mat-stepper>